name: Fcitx4 CI
on:
  push:
    branches:
      - fcitx
  pull_request:
    branches:
      - fcitx
  workflow_dispatch: # can be manually dispatched under GitHub's "Actions" tab
jobs:
  check:
    name: Build and test
    runs-on: ubuntu-latest
    container: archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            cxx_compiler: g++
          - compiler: clang
            cxx_compiler: clang++
    env:
      CC: ${{ matrix.compiler }}
      CXX: ${{ matrix.cxx_compiler }}
    steps:
      - name: Setup User
        run: |
          useradd -m builduser
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm base-devel clang cmake ninja extra-cmake-modules fmt libuv boost git qt6-base qt6-wayland libxkbcommon qt6-webengine bazel fcitx python
      - uses: actions/checkout@v4
        with:
          path: mozc
          submodules: true
      - name: Build fcitx-mozc
        shell: bash
        run: |
          cd mozc/src/
          chown -R builduser:builduser .
          sudo -u builduser env _BUILD_TARGETS=unix/fcitx:fcitx-mozc.so ../scripts/build_fcitx_bazel --cxxopt=-Wno-uninitialized --host_cxxopt=-Wno-uninitialized
          chown -R root:root .
